@import "../globals.scss";


.landing-section{
  height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: $l-gap;
  justify-content: center;
  margin-bottom: $l-gap;
  position: relative;
  
}

.landing-content{
  display: flex;
  flex-direction: column;
  gap: $xxl-gap *0.75;


}
.landing-content   p {
  font-family: serif;
  font-size: $m-font; 
  color: $black;
  span{
    font-size: $m-font; 
    font-family: serif;
  }

}
.title-line-one {
  gap: $s-gap;


}
.title-line-one img {
  border: solid 1px $light-gray;
  border-radius: $xs-gap;
}
.landing-content span{
  font-weight: 600;
}

.main-title {
  display: flex;
  flex-direction: column;
  gap: 0px;
  line-height: $xl-font;
  gap: $xxl-gap *0.5 ;

  span {
    font-size: $xxl-font;
  }


}

  .title-line-one{
    display: flex;
    align-items: end;
  }
  .arrow-down{
    padding-top: 20px;
   font-size: $l-font;
   position: absolute;
   left: $s-gap;
   bottom: 90px;
  }