@import "../globals.scss";


.landing-section{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: $l;
  justify-content: center;
  margin-bottom: $l;
  position: relative;
  padding-right: $xxl;
}
.landing-content{
  display: flex;
  flex-direction: column;
  gap: $xxl *0.618;
}



.title {
  display: grid; 
  grid-template-columns: min-contnet 96px; 
  grid-template-rows: auto auto; 
  align-items: start; 
  line-height: auto;
  height: 100%;
  row-gap: $xl;
  }
.title-line-one {
  grid-row: 1 / 2;
  grid-column: 1 / 2; 
  width: 0px;
  height: auto;
  line-height: $xxl - $xs;
  align-self: end;
  font-weight: 700;
  font-size: $xxxxl;

}
.avatar {
  grid-row: 1 / 2; 
  grid-column: 2 / 3; 
  align-self: end;
  height: 96px;
  img {
    border: solid 1px $light-gray;
    border-radius: $xs;
  }
}
.title-line-two {
  grid-row: 2 / 3; 
  grid-column: 1 / 3; 
  line-height: $xxl;
  align-self: end;
  font-weight: 700;
  font-size: $xxxxl;
}




.landing-content   p {
  font-family: "Noto Serif", serif;
  color: $black;
  opacity: 0.75;
  font-size: $xs; 
  span{
    font-family: "Noto Serif", serif;
    font-size: $s; 
  }
}





.arrow-down{
    padding-top: 20px;
   font-size: $xl;
   position: absolute;
   font-weight: 100;
   left: $s;
   bottom: $xxxl;
   opacity: 0.75;
}
@media screen and (max-width: $content-width) {
  @media screen and (max-width: 1112px) {
    @media screen and (max-width: 864px) {
      .title{
        grid-template-rows: auto auto auto; 
        row-gap: $m;
      }
      .avatar{
        grid-row:1/2;
        grid-column:1/2;
        margin-bottom:$s;
      }
      .title-line-one{
        grid-row:2/3;
        grid-column:1/2;
        font-size: clamp($xxxl, 10vw , $xxxxl);
      min-width:$xxxxl *2.2; gap: $l ;
     }
     
      .title-line-two{
        grid-row:3/4;
        grid-column:1/2;
        font-size: clamp($xl, 10vw , $xxxxl);
      }
      .landing-section{
          align-items: center;
          padding-right: 0px;
          width: 100%;
      }
      .landing-content   p {
        font-family: "Noto Serif", serif;
        color: $black;
        opacity: 0.75;
        font-size: $xs; 
        span{
          font-family: "Noto Serif", serif;
          font-size: $xs*1.2; 
        }
      }
      
    }
  }
}