@import "../globals.scss";
nav {
  background-color: $primary-dark;
  color: white;
  width: $xxxxl;
  height: 100vh;
  transition: ease-in-out 0.618s;
  display: flex;
  justify-items: center;
  align-items: center;
  align-self: center;
  position: relative;
}
.section-name {
  font-size: 0px;
  opacity: 0;
  transition: ease-in-out 0.618s;
}
nav:hover {
  width: $xxxxl * 1.618;
  .section-name {
    transition: ease-in-out 0.618s;
    font-size: $s;
    opacity: 1;
  }
  li {
    width: 100%;
    padding: $xs/1.68;
  }
  a {
    justify-content: start;
  }
}

nav ul {
  height: min-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  align-self: center;

  text-align: center;

  li {
    color: white;
    width: min-content;
    text-align: start;
    display: flex;
    justify-content: start;
    opacity: 0.25;

    transition: ease-in-out 0.618s;
    width: 15px;
    &.active {
      transition: ease-in-out 0.618s;
      color: $primary;
      opacity: 1;

      // or background-color: blue; if you want background highlighting
    }
  }
  li:hover {
    opacity: 0.9;
    transition: 0.618s;
    padding-left: $m;
  }
}
a {
  color: $white;
  text-decoration: none;
  display: flex;
  justify-content: start;
  align-items: center;
  transition: ease-in-out 0.618s;
  span {
    color: $white;
    font-size: $s;
    transition: ease-in-out 0.618s;
  }
}

.lang {
  position: absolute;
  bottom: $l;
  left: 33px;
  font-size: $s;
  color: gray;
}
.lang:hover {
  color: white;
  cursor: pointer;
}
