$primary: #355EF2;
$secondary: #F25F35;
$white: #fdfdfd;
$black: #000717;
$fg: $black;
$light-gray: #c1c1c1;
$dark-gray: #333333;


$s-font: 14px;
$m-font: 22.5px;
$l-font: 36px;
$xl-font: 59px;
$xxl-font: 96px;

$xs-gap: 16px;
$s-gap: 24px;
$m-gap: 32px;
$l-gap: 40px;
$xl-gap: 40px;
$xxl-gap: 65px;
$xxl-gap: 105px;

$content-width: 1280px;
$partition-width: 92px;
$gap-width: 14px;


*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;

  font-size: $s-font;
  font-weight: 400;
  color: $fg;
  font-family: serif;
}


@mixin border-radius-s {
  border: none;
  border-radius: 10px;
}
@mixin border-radius-l {}

.content-box {
  h1 {

}
}
