@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');
$primary: #355EF2;
$primary-dark: #071233;
$secondary: #F25F35;
$white: #fdfdfd;
$black: #000717;
$fg: $black;
$light-gray: #c1c1c1;
$dark-gray: #333333;

$xs: 14.00px;
$s: 22.65px;
$m: 29.65px;
$l: 36.65px;
$xl: 48.00px;
$xxl: 59.30px;
$xxxl: 77.62px;
$xxxxl: 95.9px;


$content-width: 1280px;
$partition-width: 92px;
$gap-width: 14px;


*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
 
  font-weight: 400;
  color: $fg;
  font-family: serif;
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-style: normal;
}


@mixin border-radius-s {
  border: none;
  border-radius: 10px;
}
@mixin border-radius-l {}

.content-box {
  h1 {

}
}
